@media screen and (max-width:600px){
    .header{
        
        flex-direction: column;
        text-align: end;
        display: flex;
        align-items: flex-end;
        justify-content: left
        
    }

    .headerr{
        
      
        align-items: flex-start;
        
        
    }

}